<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
    </button>
    <span>Barter
        <mat-icon>compare_arrows</mat-icon>
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-raised-button id="mat-raised-button"routerLink="/login">Sign In</button>
  </mat-toolbar>
