
mat-card{
  width: 416px;
}

#Form{
  margin-left: 25%;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;

}


input.example-right-align {
  -moz-appearance: textfield;
}

/* #textareaField{
  width: 70px;
  height: 10%;
} */

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
  color:#FF4B2B;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
#mat-raised-button{
  color:#FF4B2B;
}

mat-card{
  margin-top: 7%;
  margin-left: 35%;
}

